<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Catálogo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/navbar.css" th:href="@{/resources/css/navbar.css}"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="/resources/css/collections.css" th:href="@{/resources/css/collections.css}"/>


    <script type="text/javascript">
        $(document).ready(function () {
            var _ctx = $("meta[name='_ctx']").attr("content");

            // Prepend context path to all jQuery AJAX requests
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                if (!options.crossDomain) {
                    options.url = _ctx + options.url;
                }
            });
        });

        // Search
        $(document).ready(function () {
            // Activate tooltips
            $('[data-toggle="tooltip"]').tooltip();

            // Filter table rows based on searched term
            $("#search").on("keyup", function () {
                var term = $(this).val().toLowerCase();
                $("table tbody tr").each(function () {
                    $row = $(this);
                    var name = $row.find("td:nth-child(2)").text().toLowerCase();
                    console.log(name);
                    if (name.search(term) < 0) {
                        $row.hide();
                    } else {
                        $row.show();
                    }
                });
            });
        });

        // Edit collection
        $(document).ready(function () {
            $('.collectionToEditId').on('click', function (event) {
                event.preventDefault(); // prevent make a call to URL (in this case)

                var id = $(this).attr('data-id'); // get form attribute
                var title = $(this).attr('data-title');
                var author = $(this).attr('data-author');
                var year = $(this).attr('data-year');
                var type = $(this).attr('data-type');

                $('#editCollectionModal #collectionToEditId').val(id); // put the attribute in the modal
                $('#editCollectionModal #title').val(title);
                $('#editCollectionModal #authorName').val(author);
                $('#editCollectionModal #publicationYear').val(year);
                $('#editCollectionModal #collectionType').val(type);
                $('#editCollectionModal').modal(); // open the modal manually
            });
        });

        // Delete collection
        $(document).ready(function () {
            $('.table .delBtn').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $('#deleteCollectionModal #delRef').attr('href', href);
                $('#deleteCollectionModal').modal();
            });
        });

        <!-- Collection copy -->
        // Search
        $(document).ready(function () {
            // Activate tooltips
            $('[data-toggle="tooltip"]').tooltip();

            // Filter table rows based on searched term
            $("#searchCc").on("keyup", function () {
                var term = $(this).val().toLowerCase();
                $("table tbody tr").each(function () {
                    $row = $(this);
                    var name = $row.find("td:nth-child(2)").text().toLowerCase();
                    console.log(name);
                    if (name.search(term) < 0) {
                        $row.hide();
                    } else {
                        $row.show();
                    }
                });
            });
        });

        // New collection copy
        $(document).ready(function () {
            $('.collectionId').on('click', function (event) {
                event.preventDefault(); // prevent make a call to URL (in this case)

                var id = $(this).attr('data-id'); // get form attribute

                $('#addCollectionCopyModal #collectionId').val(id); // put the attribute in the modal
                $('#addCollectionCopyModal').modal(); // open the modal manually
            });
        });

        // Edit collection copy
        $(document).ready(function () {
            $('.collectionCopyToEditId').on('click', function (event) {
                event.preventDefault(); // prevent make a call to URL (in this case)

                var ccId = $(this).attr('data-ccId'); // get form attribute
                var ccAcquisitionDate = $(this).attr('data-ccAcquisitionDate');
                var ccSituation = $(this).attr('data-ccSituation');

                $('#editCollectionCopyModal #collectionCopyToEditId').val(ccId); // put the attribute in the modal
                $('#editCollectionCopyModal #acquisitionDate').val(ccAcquisitionDate);
                $('#editCollectionCopyModal #collectionCopySituation').val(ccSituation);
                $('#editCollectionCopyModal').modal(); // open the modal manually
            });
        });

        // Delete collection copy
        $(document).ready(function () {
            $('.table .delCcBtn').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $('#deleteCollectionCopyModal #delCcRef').attr('href', href);
                $('#deleteCollectionCopyModal').modal();
            });
        });

    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header d-flex col">
        <a class="navbar-brand" th:href="@{/home}">Library<b>Five</b></a>
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                class="navbar-toggle navbar-toggler ml-auto">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <ul class="nav navbar-nav">
            <li class="nav-item active"><a th:href="@{/collection/list}" class="nav-link">Catálogo (aluno)</a></li>
            <li class="nav-item dropdown">
                <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Administração<b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/admin/manage/authors}" class="dropdown-item">Administrar autores</a></li>
                    <li><a th:href="@{/admin/manage/collections}" class="dropdown-item">Administrar catálogo</a></li>
                    <li><a th:href="@{/admin/manage/loans}" class="dropdown-item">Administrar empréstimos</a></li>
                    <li><a th:href="@{/admin/manage/users}">Administrar usuários</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><span
                        th:utext="${userName}"></span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/myAccount}" class="dropdown-item"><i class="fa fa-user-o"></i> Minha
                        conta</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li><a th:href="@{/logout}" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<!-- Collection -->
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Catálogo</b></h2>
                </div>
                <div class="col-sm-6">
                    <div class="search-box">
                        <div class="input-group">
                            <input type="text" id="search" class="form-control" placeholder="Procurar por nome">
                            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></a></span>
                        </div>
                    </div>
                    <a href="#addCollectionModal" class="btn btn-customized btn-customized-hover" data-toggle="modal"><i
                            class="material-icons">&#xE147;</i>
                        <span>Adicionar nova obra</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>Type</th>
                <th>Has collection copy?</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="collection, custStat : ${collections}">
                <th><span th:text="${custStat.count}"></span></th>
                <td><span th:text="${collection.title}"></span></td>
                <td><span th:text="${collection.author}"></span></td>
                <td><span th:text="${collection.publicationYear}"></span></td>
                <td><span th:text="${collection.type}"></span></td>
                <td>
                    <span th:if="${collection.hasCollectionCopy == true}"><span
                            class="status text-success">&bull;</span> Sim</span>
                    <span th:if="${collection.hasCollectionCopy == false}"><span
                            class="status text-warning">&bull;</span> Não</span>
                </td>
                <td>
                    <!-- add new collection copy -->
                    <a href="" class="collectionId" data-toggle="modal" th:data-id="${collection.id}">
                        <i class="material-icons" title="Adicionar novo exemplar">&#xe145;</i>
                    </a>

                    <!-- edit collection -->
                    <a href="" class="edit collectionToEditId"
                       th:data-title="${collection.title}" th:data-id="${collection.id}"
                       th:data-author="${collection.author}" th:data-type="${collection.type}"
                       th:data-year="${collection.publicationYear}">
                        <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                    </a>

                    <!-- delete collection -->
                    <a th:href="@{__${baseUrl}__/collection/delete/(id=${collection.id})}" class="delete delBtn"
                       data-toggle="modal">
                        <i class="material-icons" data-toggle="tooltip" title="Deletar">&#xE872;</i>
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination paginationCustomized">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>

            <a class="collectionCopy" data-toggle="collapse" data-target="#collectionCopyList"><i
                    class="material-icons">&#xe02f</i>
                <span>Exibir exemplares</span></a>
        </div>
    </div>
</div>

<!-- Collection Copy -->
<div id="collectionCopyList" class="collapse container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>Exemplares</b></h2>
                </div>
                <div class="col-sm-6">
                    <div class="search-box">
                        <div class="input-group">
                            <input type="text" id="searchCc" class="form-control" placeholder="Procurar por nome">
                            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Publication Year</th>
                <th>Type</th>
                <th>#ID Collection copy</th>
                <th>Acquisition date</th>
                <th>Situation</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="collectionCopy, custStat : ${collectionCopyList}">
                <th><span th:text="${custStat.count}"></span></th>
                <!-- collection-->
                <td><span th:text="${collectionCopy.collection.title}"></span></td>
                <td><span th:text="${collectionCopy.collection.publicationYear}"></span></td>
                <td><span th:text="${collectionCopy.collection.collectionType}"></span></td>
                <!-- collection copy -->
                <td><span th:text="${collectionCopy.id}"></span></td>
                <td><span th:text="${collectionCopy.acquisitionDate}"></span></td>
                <td><span th:text="${collectionCopy.collectionCopySituation}"></span></td>
                <td>
                    <!-- edit collection copy -->
                    <a href="" class="edit collectionCopyToEditId"
                       th:data-title="${collectionCopy.collection.title}"
                       th:data-year="${collectionCopy.collection.publicationYear}" th:data-type="${collectionCopy.collection.collectionType}"
                       th:data-ccId="${collectionCopy.id}"
                       th:data-ccAcquisitionDate="${{collectionCopy.acquisitionDate}}"
                       th:data-ccSituation="${collectionCopy.collectionCopySituation}">
                        <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                    </a>

                    <!-- delete collection copy-->
                    <a th:href="@{__${baseUrl}__/collection/copy/delete/(id=${collectionCopy.id})}"
                       class="delete delCcBtn"
                       data-toggle="modal">
                        <i class="material-icons" data-toggle="tooltip" title="Deletar">&#xE872;</i>
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item active"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Add collection Modal HTML -->
<div id="addCollectionModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" th:action="@{/collection/new}">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar obra</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Titulo</label>
                        <input type="text" class="form-control" name="title" required>
                    </div>

                    <div class="md-form mb-5">
                        <label>Autor</label>
                        <br class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="form-check">
                            <select name="author" required>
                                <option th:each="author : ${authors}" class="form-select-button" name="author" selected>
                                    <span th:text="${author.name}"></span>
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Ano de publicação</label>
                        <input type="text" class="form-control" name="publicationYear" required>
                    </div>

                    <div class="form-group">
                        <label>Tipo de obra</label>
                        <br class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="form-check">
                            <select name="collectionType" required>
                                <option class="form-select-button" name="Literatura" value="Literatura" selected>
                                    Literatura
                                </option>
                                <option name="Tese/Monografia" value="Tese/Monografia">Tese/Monografia</option>
                                <option name="Outros" value="Outros">Outros</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Adicionar">

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit collection Modal HTML -->
<div id="editCollectionModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" th:action="@{/collection/edit}">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Editar obra</h4>
                    <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="title">Titulo</label>
                        <input type="text" id="title" name="title" class="form-control validate" required>
                    </div>

                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="authorName">Autor</label>
                        <input type="text" id="authorName" name="authorName" class="form-control validate" required>
                    </div>

                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="publicationYear">Ano de publicação</label>
                        <input type="text" id="publicationYear" name="publicationYear" class="form-control validate"
                               required>
                    </div>

                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="collectionType">Tipo de obra</label>
                        <input type="text" id="collectionType" name="collectionType" class="form-control validate"
                               required>
                    </div>
                </div>


                <div class="modal-footer d-flex justify-content-center editInsideWrapper">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Salvar">

                    <input id="collectionToEditId" name="collectionToEditId" type="hidden" value=""/>
                    <div id="result"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete collection Modal HTML -->
<div id="deleteCollectionModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletar obra</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que quer deletar esta obra?</p>
                <p class="text-warning"><small>Esta ação não poderá ser desfeita.</small></p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                <a href="" class="btn btn-danger" id="delRef">Deletar</a>
            </div>
        </div>
    </div>
</div>

<!-- --------------------------------------------------- -->

<!-- Add collection copy Modal HTML -->
<div id="addCollectionCopyModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" th:action="@{/collection/copy/new}">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar exemplar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Data de aquisição</label>
                        <input type="text" class="form-control" name="acquisitionDate" required>
                    </div>

                    <div class="form-group">
                        <label>Situação</label>
                        <br class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="form-check">
                            <select name="collectionCopySituation" required>
                                <option class="form-select-button" name="Disponível" value="Disponível" selected>
                                    Disponível
                                </option>
                                <option name="Emprestado" value="Emprestado">Emprestado</option>
                                <option name="Devolvido" value="Devolvido">Devolvido</option>
                                <option name="Reservado" value="Reservado">Reservado</option>
                                <option name="Extraviado" value="Extraviado">Extraviado</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Adicionar">

                    <input id="collectionId" name="collectionId" type="hidden" value=""/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit collection copy Modal HTML -->
<div id="editCollectionCopyModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" th:action="@{/collection/copy/edit}">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Editar exemplar</h4>
                    <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="acquisitionDate">Data de aquisição</label>
                        <input type="text" id="acquisitionDate" name="acquisitionDate" class="form-control validate" required>
                    </div>

                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="collectionCopySituation">Situação</label>
                        <input type="text" id="collectionCopySituation" name="collectionCopySituation" class="form-control validate" required>
                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-center editInsideWrapper">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Salvar">

                    <input id="collectionCopyToEditId" name="collectionCopyToEditId" type="hidden" value=""/>
<!--                    <div id="resultCc"></div>-->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete collection copy Modal HTML -->
<div id="deleteCollectionCopyModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletar exemplar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que quer deletar este exemplar?</p>
                <p class="text-warning"><small>Esta ação não poderá ser desfeita.</small></p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                <a href="" class="btn btn-danger" id="delCcRef">Deletar</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>